.Navigation{
 background:linear-gradient( to top right, rgba(63,81,181,1) 0%, rgba(3,155,229 ,1) 40%);    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    width:100vw;
    z-index: 50;
    justify-content: center;
}

.Navigation__button{
    align-self: flex-end;
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0  5vw;
}
.Navigation__button-icon{
    width: 30px;
    height: 35px;
}
.p{
    display: none;
    height: 0px;
}
.Navigation__link{
    display: flex;
    width: 100vw;
    flex-direction:column;
    list-style: none;
}
.Navigation__link-li{
    border-radius: 0.153vw;
    color: #fff !important;
    display: block;
    font-size: 16px;
    text-align: start;
    text-decoration: none;
    padding: 0px 10px;
    transition: .5s all;
}
.Navigation__link-li:visited{
    color:#fff;
}
.Navigation__link-li:hover{
    background-color:  #06283D;
}

/* Desktop Design */
@media (min-width : 768px){
    .Navigation{
        height: 70px;

        flex-direction: row;
    }   
    .Navigation__button{
        /* display: none; */
    }
    .Navigation__button-icon{
        display: none;        
    }
    .Navigation__link{
        flex-direction: row;
        justify-content: end;
        margin: auto 5vw auto auto;

        gap: 2vw;
    }
    .Navigation__link-li{
        width: max-content;
        /* border-radius: 5px; */
        font-size: 18px;
        text-align: center;
    }
}
@media (min-width : 1152px){
    .Navigation{
        height: 75px;
    }
    .Navigation__link-li{
        
        font-size: 26px;
    }
}
@media (min-width : 1440px){
    .Navigation{
        height: 80px;
    }
    .Navigation__link-li{
        font-size: 28px;
    }
}
@media (min-width : 2048px){
    .Navigation{
        height: 130px;
    }
    .Navigation__link-li{
        font-size: 32px;
    }
}
@media (min-width : 4096px){
    .Navigation{
        height: 200px;
    }
    .Navigation__link-li{
        font-size: 64px;
    }
}